
.chat_details {
    width: 25%;
    height: 100%;
    background: #c7ced1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.chat_info {
    margin-top: 15px;
    width: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
}
.chat_logo {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
}
.chat_name {
    margin-left: 10px;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    color: #36333a;
}
.chat_last_message {
    margin-left: 10px;
    font-size: 10px;
    color: #878787;
    grid-column: 2;
    grid-row: 2;
    align-self: start;
}

.title {
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #36333a;
    width: 90%;
    text-align: center;
    color: #36333a;
}

.chat_description {
    background: #c7e5e3;
    color: #393b44;
    display: block;
    padding: 10px;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
}

.members {
    width: 90%;
    margin-top: 5px;
    display: inline-flex;
    justify-content: center;
    flex-direction: row-reverse;
    animation: messenger 1.5s ease forwards;
}
@keyframes messenger {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.members img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #ecf5f8;
}
.members img:not(:last-child) {
    margin-left: -25px;
}

.photos {
    width: 90%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(6, calc(100% / 6));
    animation: messenger 1.5s ease forwards;
}
@keyframes messenger {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.photos img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0;
    margin-top: 5px;
}
.photos img:hover {
    cursor: pointer;
}
.photos img:first-child {
    border-radius: 5px 0 0 5px;
}
.photos img:last-child {
    border-radius: 0 5px 5px 0;
}

.attachments {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.file {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    padding: 3px;
    border-radius: 3px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
}
.file img {
    height: 100%;
    width: auto;
}
.file span {
    margin-left: 5px;
    color: #3f3532;
}
.file:hover {
    cursor: pointer;
    background: #e6e6e6;
}

.view_all {
    margin-top: 5px;
    padding: 3px;
    border: none;
    background: transparent;
    color: #9c3f1f;
    text-decoration: underline;
}

.view_all:hover {
    cursor: pointer;
}
