
.error_page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
}

.title_error {
    margin-top: 30px;
    font-size: 30px;
}

.error_description {
    text-align: center;
    font-size: 20px;
    width: 50%;
}

.go_back {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #959a9c;
    color: #959a9c;
}
.go_back:hover {
    cursor: pointer;
    background: #959a9c;
    color: whitesmoke;
}
