
.update_user_back {
    width: 100%;
    height: 100%;
    background: white;
    display: inline-flex;
    justify-content: center;
    padding-top: 50px;
}

.user_avatar_preview {
    align-self: center;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user_id {
    font-style: italic;
}
