
.users_list_back {
    width: 100%;
    height: 100%;
    background: white;
    display: inline-flex;
    justify-content: center;
}

.users_list {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-y: auto;
    box-shadow: 0 10px 12px -4px grey;
    animation: window 1s ease forwards;
}
@keyframes window {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }

.users_title {
    align-self: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #4c4852;
}

.add_user {
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background: #2a9f3b;
    font-weight: bold;
    color: whitesmoke;
}
.add_user:hover {
    cursor: pointer;
    background: #1e732b;
    color: whitesmoke;
}

.back_to_chat {
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background: #535353;
    font-weight: bold;
    color: whitesmoke;
}
.back_to_chat:hover {
    cursor: pointer;
    background: #393939;
    color: whitesmoke;
}
