
.login_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #36333a;
}

.login_header {
    display: inline-flex;
    align-items: center;
}

.login_chat_logo {
    height: auto;
    width: auto;
}

.login_app_name {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
    color: #36333a;
}

.login_form {
    width: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 12px -4px grey;
}

.login_title {
    padding-right: 15px;
    padding-left: 15px;
    width: calc(100% - 30px);
    text-align: center;
    font-size: 20px;
}
.input_title {
    font-size: 15px;
    margin-top: 15px;
    align-self: flex-start;
}

.login_input {
    width: calc(100% - 42px);
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background: #d6d6db;
    font-size: 15px;
    border: none;
    border-bottom: 3px solid #d6d6db;
    transition: 0.5s;
}
.login_input:focus {
    border-bottom: 3px solid #4c4852;
}

.login_button {
    width: 100%;
    margin-top: 15px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #333037;
    border-radius: 5px;
    border: none;
    color: #d6d6db;
    transition: 0.3s;
}
.login_button:hover {
    cursor: pointer;
    background: #76797b;
    color: #222025;
}

.register_button {
    background: transparent;
    margin-top: 10px;
    border: none;
    color: #696b6d;
    text-decoration: underline;
}
.register_button:hover {
    cursor: pointer;
    color: #4c4852;
}
