
.user_item {
    width: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px 7px 15px;
    transition: 0.02s;
}
.user_item:hover {
    background: #d8dfe2;
}

.user_info {
    display: inline-flex;
    align-items: center;
}
.user_info img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user_info span {
    font-size: 15px;
    margin-left: 15px;
}

.users_actions {
    display: inline-flex;
    align-items: center;
}

.delete {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    background: #d73329;
    font-weight: bold;
    color: whitesmoke;
}
.delete:hover {
    cursor: pointer;
    background: #9f261f;
    color: whitesmoke;
}
.edit {
    height: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    background: #4849a1;
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
}
.edit:hover {
    cursor: pointer;
    background: #272756;
}
