
.day_separator {
    font-size: 15px;
    align-self: center;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: calc(25px / 2);
    background: #b2baca;
    margin-top: 10px;
    margin-bottom: 10px;
}
